.genresWrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 70px;
    justify-content: center;
    align-items: center;

}
.genreWrap a{
    font-size: 20px;
    text-decoration: underline;
}
.genre-dark a{
    color: #ffffff;
}
.genre-light a{
    color: #000000;
}
.genreWrap{
    width: 120px;
}

.genreWrap a:hover{
    color: #ff232f;
    transition: color .25s ;
}