.genresWrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 70px;
    justify-content: center;
    align-items: center;

}
.genreWrap{
    width: 150px;

}
.genreWrap a{
    color: #ffffff;
}
.genreWrap a:hover{
    color: #ff232f;
    transition: color .25s ;
}