.mainPageWrapper{
    height: 86.4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.searchForm{
    margin-top: 100px;
    display: flex;
    column-gap: 10px;
    border-radius: 10px;
}

.input{
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    border: none;
}
.input-dark{
    background: rgba(255,255,255,80%);

}
.input-light{
    color: #FFFFFF;
    background: rgba(0,0,0,80%);
}

.formBtn{
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    transition: color .2s;
}
.formBtn-dark{
    color: #ffffff;
}
.formBtn-light{
    color: #000000;
}
.formBtn:hover{
    color: #ff232f;
}