.mainWrapper{
    background: rgba(0,0,0,80%);
}
.bg{
    height: 86.4vh;
    background: rgba(0,0,0,85%);
}
.pagination{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin:50px 0;
    align-items: center;
}
.button{
    width: 160px;
    border: 1px solid #ffffff;
    border-radius: 7px;
    height: 30px;
    background: none;
    color: white;
    transition: color .24s;
}
.button:hover{
    cursor: pointer;
    color:#5089ec;
    border: 1px solid #5089ec;
}
button:disabled{
    border: 1px solid gray;
    color: gray;
    cursor: not-allowed;
}
button:disabled:hover{
    border: 1px solid gray;
    color: gray;
    cursor: not-allowed
}
.count{
    color: #FFF;
}