.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

}
.header-dark{
    background: rgba(40,40,40);
    border-bottom: 1px solid #ffffff;
}

.logo img{
    margin-left: 20px;
    width: 60px;
}
.navigation{
    display: flex;
    column-gap: 50px;
}
.navigation a{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.nav-light a{
    color: #FFFFFF;
}
.navigation a:hover{
    color: #ff232f;
    transition: color .25s;
}
