.footer-dark{
    background: rgba(40,40,40);
    height: 50px;
    color: #fff;
    border-top: 1px solid #ffffff;
}
/*.footer-light{*/
/*    background: rgba(0, 0, 0);*/
/*    height: 50px;*/

/*    border-top: 1px solid #000000;*/
