.dark{
    color: #FFFFFF;
}
.light{
    color: #000000;
}
.bg-dark{
    background: rgba(0,0,0,80%);
}
.bg-light{
    background: rgba(255,255,255,80%);
}
.button-dark{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.button-light{
    color: #000000;
    border: 1px solid #000000;
}